@model OpenQbit.PaymentGateway.Common.Models.Responce

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Responce</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Request.CreaditCardNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Request.CreaditCardNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MessageDetails)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MessageDetails)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RespondTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RespondTime)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
